h1 {
  text-align: center;
  font-size: 20px;
}
.row {
  text-align: center;
  margin: auto;
}
.player {
    width: 46%;
    font-size: 20px;
    float: left;
    margin-right: 2%;
    font-weight: bold;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

#canvasId {
    padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
